$primary-color-text: #757575;
$secondary-color-text: #212121;
$accent-color: #2196f3;
$hero-color-text: #ffffff;
$header-logo-text: #000000;
$footer-text: rgba(255, 255, 255, 0.6);
$primary-bgc: #ffffff;
$secondary-bgc: #2f303a;
$button-bgc-focus: #188ce8;
$button-bgc: #f5f4fa;
$border-color: #eeeeee;
$header-border-color: #ececec;
$bgc-icons: #f5f4fa;
$color-soc: #afb1b8;
$color-gradient: rgba(47, 48, 58, 0.4);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
